body {
    margin: 0;
}

svg {
    background: #2062f2;
}

.bar--positive {
    fill: steelblue;
}

.bar--negative {
    fill: steelblue;
}

.axis text {
    font: 10px Arial;
    fill: #fff;
    fill-opacity: 0.5;
}

.axis .axis__y text {
    fill: transparent;
}

.axis path, .axis line {
    fill: none;
    stroke: #3872f2;
    shape-rendering: crispEdges;
}
