/*
 * @components   D3 styles
 * Pie
 */
.chart-wrapper.chart-wrapper_pie * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.chart-wrapper.chart-wrapper_pie svg {
    background: #2062f2;
}
.chart-wrapper.chart-wrapper_pie svg > g {
    -webkit-filter: url(#g-shadow);
    filter: url(#g-shadow);
}
.chart-wrapper.chart-wrapper_pie .arc {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}
.chart-wrapper.chart-wrapper_pie .arc_active {
    -webkit-filter: url(#arc-shadow);
    filter: url(#arc-shadow);
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}
.chart-wrapper.chart-wrapper_pie .chart-title {
    position: absolute;
    top: 1.2em;
    left: 50%;
    font-size: 18px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #ffffff;
}
.chart-wrapper.chart-wrapper_pie .tooltip {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}
.chart-wrapper.chart-wrapper_pie .tooltip:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #1a3b7f;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.chart-wrapper.chart-wrapper_pie .tooltip-pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #1a3b7f;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
    min-width: 120px;
    height: 70px;
}
.chart-wrapper.chart-wrapper_pie .tooltip-pie__title {
    margin: 0.5em 0;
    font-size: 14px;
    font-weight: 700;
}
.chart-wrapper.chart-wrapper_pie .tooltip-pie__value {
    font-size: 18px;
    display: inline;
    position: relative;
}
.chart-wrapper.chart-wrapper_pie .tooltip-pie__status {
    position: absolute;
    top: 55%;
    left: 7px;
    display: block;
    border: 5px solid transparent;
    border-bottom: 5px solid limegreen;
}

